<div *ngIf="favorites.length" class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-3" *ngFor="let favorite of favorites">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ favorite.title }}</h5>
            <p class="card-text">{{ favorite.ingredients }}</p>
            <p class="card-text">{{ favorite.description }}</p>
            <p class="card-text">{{ favorite.duration }} minutes</p>
            <button class="btn btn-primary" (click)="removeFavorite(favorite)">Remove from favorites</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="!favorites.length">
    <h1>NO FAVORITES</h1>
  </div>
  